<div class="dropdown-component" *ngIf="options">
    <button mat-icon-button id="dropdown-{{identifier}}" data-toggle="dropdown" aria-haspopup="true"
        aria-label="{{options.header}}" aria-expanded="false">
        <mat-icon>{{options.icon}}</mat-icon>
    </button>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-{{identifier}}">

        <div *ngIf="options.header" class="dropdown-header">{{options.header}}</div>
        <div *ngIf="options.header" class="dropdown-divider"></div>

        <a *ngFor="let item of options.menu;"
            class="dropdown-item" (click)="onClick(item)">
            <mat-icon *ngIf="item.icon">{{item.icon}}</mat-icon>{{item.label}}</a>
    </div>
</div>