<div [ngSwitch]="type" style="display: inline-block;">

    <div *ngSwitchCase="'bar'" class="loadingio-spinner-pulse-tdjlpkbkhb">
        <div class="ldio-c8bdlx1brd">
            <div [ngStyle]="{'background': loadingColor[0]}"></div>
            <div [ngStyle]="{'background': loadingColor[1]}"></div>
            <div [ngStyle]="{'background': loadingColor[2]}"></div>
        </div>
    </div>

    <div *ngSwitchCase="'spinner'" class="loadingio-spinner-rolling-s1dkxwfdnf">
        <div class="ldio-uwykl4eks6n">
            <div [ngStyle]="{'border-color': loadingColor[0]}"></div>
        </div>
    </div>


</div>