<ion-fab 
    [horizontal]="ionFabOptions.horizontal" 
    [vertical]="ionFabOptions.vertical"
    [edge]="ionFabOptions.edge" 
    [slot]="ionFabOptions.slot" 
    [activated]="ionFabOptions.activated"
    class="animated fadeIn {{ionFabOptions.customClasses}}">

    <ion-fab-button-component [options]="ionFabOptions.actionFabButton"></ion-fab-button-component>

    <ion-fab-list [side]="ionFabOptions.fabList.side" >

        <ion-fab-button-component 
            *ngFor="let button of ionFabOptions.fabList.listFabButtons;"
            [options]="button"></ion-fab-button-component>
        
    </ion-fab-list>
</ion-fab>