<ion-content>

    <ion-card>
        <ion-card-content>

            <b>API</b>: <i>https://reqres.in</i><br />
            <b>Username</b>: username<br />
            <b>Password</b>: password<br/>
            
        </ion-card-content>
        
        <ion-footer>
            <ion-item>
                <ion-button (click)="fillForm()" size="small">
                    <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-button>
            </ion-item>

        </ion-footer>
    </ion-card>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
        <ion-card>
            <ion-card-content>

                <ion-item lines="none">
                    <ion-label position="stacked">Username</ion-label>
                    <ion-input formControlName="username" type="text" required></ion-input>
                </ion-item>

                <!-- Error messages -->
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.required">
                    Username is required.
                </span>
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.minlength">
                    Username should be min 2 chars long.
                </span>

                <ion-item lines="none">
                    <ion-label position="stacked">Password</ion-label>
                    <ion-input formControlName="password" [type]="fieldTextType ? 'text' : 'password'" required style="padding-right: 30px !important;"></ion-input>

                    <ion-button slot="end" size="small" fill="outline" shape="round" color="dark"
                        (click)="seePassword()"
                        style="margin: 0; position: absolute; right: 0; bottom: 9px; z-index: 2;">
                        <ion-icon *ngIf="!fieldTextType" slot="icon-only" name="eye"></ion-icon>
                        <ion-icon *ngIf="fieldTextType" slot="icon-only" name="eye-off"></ion-icon>
                    </ion-button>
                </ion-item>

                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
                    Password is required.
                </span>
                <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
                    Password should be min 6 chars long.
                </span>

                <ion-button [disabled]="loadingMini" type="submit" color="danger" expand="block">
                    <loading-mini *ngIf="loadingMini"></loading-mini>
                    Login
                </ion-button>

                <span class="divider line one-line">v</span>

                <div class="ion-text-center">
                    <a class="lnk " (click)="navigateTo('recover')" >Forgot password?</a>
                </div>
                

            </ion-card-content>


        </ion-card>

    </form>

    <ion-text *ngIf="error" color="danger">
        <h3>{{ errorMessage }}</h3>
    </ion-text>

    <ion-card>
        <ion-card-content class="ion-text-center">

            <p>Don't have an account?&nbsp;&nbsp;<a class="lnk" (click)="navigateTo('signup')"><strong>Sign up</strong></a></p>
            
        </ion-card-content>
        
    </ion-card>

</ion-content>