<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    
      My Alternate Themes:
      <button  color="primary">Primary</button>
      <button  color="accent">Accent</button>
      <button  color="warn">Warning</button>
   
  </div>
</ion-content>
