// Creates a ribbon effect with the given options:
@mixin ribbonize ($ribbon-color, $border-width: 3px) {

    span {
        background: $ribbon-color;

        &::before {
            border-left: $border-width solid $ribbon-color;
            border-top: $border-width solid $ribbon-color;
        }

        &::after {
            border-right: $border-width solid $ribbon-color;
            border-top: $border-width solid $ribbon-color;
        }
    }
}

.ribbon {
    height: 75px;
    overflow: hidden;
    position: absolute;
    right: -5px;
    text-align: right;
    top: -5px;
    width: 75px;
    z-index: 2;

    span {
        background: var(--ion-color-primary);
        color: #fff;
        font-size: 10px;
        font-weight: 500;
        line-height: 20px;
        display: block;
        position: absolute;
        right: -21px;
        text-transform: uppercase;
        text-align: center;
        top: 19px;
        transform: rotate(45deg);
        width: 100px;

        &::before {
            content: "";
            border-left: 3px solid var(--ion-color-primary);
            border-right: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-top: 3px solid var(--ion-color-primary);
            left: 0;
            position: absolute;
            top: 100%;
            z-index: -1;
        }

        &::after {
            content: "";
            border-left: 3px solid transparent;
            border-right: 3px solid var(--ion-color-primary);
            border-bottom: 3px solid transparent;
            border-top: 3px solid var(--ion-color-primary);
            position: absolute;
            right: 0;
            top: 100%;
            z-index: -1;
        }
    }
}

.ribbon.primary {
    @include ribbonize(var(--ion-color-primary));
}
.ribbon.secondary {
    @include ribbonize(var(--ion-color-secondary));
}
.ribbon.tertiary {
    @include ribbonize(var(--ion-color-tertiary));
}
.ribbon.success {
    @include ribbonize(var(--ion-color-success));
}
.ribbon.warning {
    @include ribbonize(var(--ion-color-warning));
}
.ribbon.danger {
    @include ribbonize(var(--ion-color-danger));
}
.ribbon.dark {
    @include ribbonize(var(--ion-color-dark));
}
.ribbon.medium {
    @include ribbonize(var(--ion-color-medium));
}
.ribbon.light {
    @include ribbonize(var(--ion-color-light));
}